version: "3.9"

services:
  backend:
    build:
      context: ../projet-frontend
      dockerfile: ../recipe-frontend/docker/backend.Dockerfile
    volumes:
      - ../backend:/app
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=mysql://symfony:symfony@db:3306/symfony
    depends_on:
      - db

  db:
    image: mariadb:10.9
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: symfony
      MYSQL_USER: symfony
      MYSQL_PASSWORD: symfony
    ports:
      - "3307:3306"
  
